.navbar {
    height: 100vh;
    width: 100px;
    position: fixed;
    background-color: #FF8C8D;
    background-image: linear-gradient(272deg, #FEE140 0%, #FA709A 100%);
    display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
}

.profile>img {
    width: 90%;
}